<section class="career">
    <div class="career__bg">
        <picture>
            <source srcset="/images/career-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/career.webp" alt="" class="career__bg-image" />
        </picture>
    </div>
    <div class="career__content">
        <div class="career__top-row">
            <h3 class="small-heading career__top-heading">
                карьера
            </h3>
            <div class="career__top-text-content">
                <div class="career__top-text">
                    Мы строим слаженную и эффективную команду, способную справиться с любым вызовом и готовую
                    совершенствоваться. Если такой стиль вам подходит, мы ждем вас!
                </div>
                <div class="career__top-slogan">
                    Присоединяйся к команде ICL Системные Технологии. Найди ту самую вакансию!
                </div>
            </div>
        </div>
        <div class="career__arrows">
            <button class="career__arrow career__arrow--prev">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#slider-arrow-left"></use>
                </svg>
            </button>
            <button class="career__arrow career__arrow--next">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#slider-arrow-right"></use>
                </svg>
            </button>
        </div>
        <div class="career__bottom-row">
            <div class="career__bottom-left-col">
                <h2 class="small-heading career__bottom-heading">
                    вакансии
                </h2>
                <a href="#" class="btn career__bottom-link">
                    Все 38 вакансий
                </a>
            </div>
            <div class="career__slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="career__slider-card">
                                <div class="career__slider-card-city">
                                    / Москва
                                </div>
                                <h3 class="h6 career__slider-card-title">
                                    DevOps-инженер (Middle/Senior)
                                </h3>
                                <div class="career__slider-card-text">
                                    <p>
                                        Опыт от 1 до 3 лет
                                    </p>
                                    <p>
                                        Удаленная работа - обсуждается
                                    </p>
                                </div>
                                <div class="career__slider-card-bottom">
                                    Откликнуться в 1 клик
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow-stroke"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="career__slider-card">
                                <div class="career__slider-card-city">
                                    / Москва
                                </div>
                                <h3 class="h6 career__slider-card-title">
                                    Системный аналитик (Middle+/Senior)
                                </h3>
                                <div class="career__slider-card-text">
                                    <p>
                                        Опыт от 3 до 6 лет
                                    </p>
                                    <p>
                                        100% удаленная работа
                                    </p>
                                </div>
                                <div class="career__slider-card-bottom">
                                    Откликнуться в 1 клик
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow-stroke"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="career__slider-card">
                                <div class="career__slider-card-city">
                                    / Москва
                                </div>
                                <h3 class="h6 career__slider-card-title">
                                    Тим лид - Архитектор
                                </h3>
                                <div class="career__slider-card-text">
                                    <p>
                                        Опыт более 6 лет
                                    </p>
                                    <p>
                                        Удаленная работа - обсуждается
                                    </p>
                                </div>
                                <div class="career__slider-card-bottom">
                                    Откликнуться в 1 клик
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow-stroke"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="career__slider-card">
                                <div class="career__slider-card-city">
                                    / Москва
                                </div>
                                <h3 class="h6 career__slider-card-title">
                                    DevOps-инженер (Middle/Senior)
                                </h3>
                                <div class="career__slider-card-text">
                                    <p>
                                        Опыт от 1 до 3 лет
                                    </p>
                                    <p>
                                        Удаленная работа - обсуждается
                                    </p>
                                </div>
                                <div class="career__slider-card-bottom">
                                    Откликнуться в 1 клик
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow-stroke"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>