<section class="expertise">
    <div class="expertise__content">
        <h2 class="h2 expertise__heading">
            Наша экспертиза
        </h2>
        <div class="expertise__row">
            <div class="expertise__nav">
                <ol class="expertise__nav-list">
                    <li class="expertise__nav-list-item">
                        <a href="#" class="expertise__nav-card active">
                            <h3 class="expertise__nav-card-title">
                                Информационная безопасность
                            </h3>
                        </a>
                    </li>
                    <li class="expertise__nav-list-item">
                        <a href="#" class="expertise__nav-card">
                            <h3 class="expertise__nav-card-title">
                                Инженерные системы
                            </h3>
                        </a>
                    </li>
                    <li class="expertise__nav-list-item">
                        <a href="#" class="expertise__nav-card">
                            <h3 class="expertise__nav-card-title">
                                ИТ-инфраструктура
                            </h3>
                        </a>
                    </li>
                </ol>
            </div>
            <div class="expertise__tabs">
                <div class="expertise__tabs-item active">
                    <div class="expertise__card">
                        <img src="/images/expertise/1.svg" alt="" class="expertise__card-icon">
                        <h3 class="h3 expertise__card-title">
                            Информационная безопасность
                        </h3>
                        <div class="expertise__card-text">
                            Комплексные меры по защите ваших данных и IT-инфраструктуры от киберугроз, обеспечивающие
                            целостность, конфиденциальность и доступность информации.
                        </div>
                        <ol class="expertise__card-list">
                            <li class="expertise__card-list-item">
                                Услуги информационной безопасности
                            </li>
                            <li class="expertise__card-list-item">
                                Защита персональных данных
                            </li>
                            <li class="expertise__card-list-item">
                                Обеспечение безопасности объектов КИИ
                            </li>
                            <li class="expertise__card-list-item">
                                Оценка безопасности ИТ-инфраструктуры
                            </li>
                        </ol>
                        <ul class="expertise__card-numbers-list">
                            <li class="expertise__card-numbers-list-item">
                                <div class="expertise__card-numbers-card">
                                    <div class="expertise__card-numbers-card-amount">
                                        160
                                    </div>
                                    <div class="expertise__card-numbers-card-text">
                                        Описание ключевого показателя
                                    </div>
                                </div>
                            </li>
                            <li class="expertise__card-numbers-list-item">
                                <div class="expertise__card-numbers-card">
                                    <div class="expertise__card-numbers-card-amount">
                                        180%
                                    </div>
                                    <div class="expertise__card-numbers-card-text">
                                        Описание ключевого показателя
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a href="#callback-modal" class="btn expertise__card-link">
                            Оставить заявку
                        </a>
                    </div>
                </div>
                <div class="expertise__tabs-item">
                    <div class="expertise__card">
                        <img src="/images/expertise/2.svg" alt="" class="expertise__card-icon">
                        <h3 class="h3 expertise__card-title">
                            Инженерные системы
                        </h3>
                        <div class="expertise__card-text">
                            Услуги по инженерной инфраструктуре являются базовым звеном и обеспечивают комплексную
                            безопасность, электроснабжение, вентиляцию и кондиционирование, структурированную кабельную
                            систему, диспетчеризацию и мониторинг
                        </div>
                        <ol class="expertise__card-list">
                            <li class="expertise__card-list-item">
                                Проведение аудита технических систем безопасности, ИТ-инфраструктуры, инфраструктуры ЦОД
                            </li>
                            <li class="expertise__card-list-item">
                                Разработка проектной и рабочей документации
                            </li>
                            <li class="expertise__card-list-item">
                                Поставка товарно-материальных ценностей
                            </li>
                            <li class="expertise__card-list-item">
                                Монтажные и пуско-наладочные работы
                            </li>
                            <li class="expertise__card-list-item">
                                Поддержка и обслуживание ИТ - инфраструктуры
                            </li>
                        </ol>
                        <ul class="expertise__card-numbers-list">
                            <li class="expertise__card-numbers-list-item">
                                <div class="expertise__card-numbers-card">
                                    <div class="expertise__card-numbers-card-amount">
                                        160
                                    </div>
                                    <div class="expertise__card-numbers-card-text">
                                        Описание ключевого показателя
                                    </div>
                                </div>
                            </li>
                            <li class="expertise__card-numbers-list-item">
                                <div class="expertise__card-numbers-card">
                                    <div class="expertise__card-numbers-card-amount">
                                        180%
                                    </div>
                                    <div class="expertise__card-numbers-card-text">
                                        Описание ключевого показателя
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a href="#callback-modal" class="btn expertise__card-link">
                            Оставить заявку
                        </a>
                    </div>
                </div>
                <div class="expertise__tabs-item">
                    <div class="expertise__card">
                        <img src="/images/expertise/3.svg" alt="" class="expertise__card-icon">
                        <h3 class="h3 expertise__card-title">
                            ИТ-инфраструктура
                        </h3>
                        <div class="expertise__card-text">
                            Комплекс аппаратных и программных средств, которые отвечают за создание единого
                            информационного и рабочего пространства внутри организации обеспечивая непрерывность
                            и стабильность бизнес-процессов
                        </div>
                        <ol class="expertise__card-list">
                            <li class="expertise__card-list-item">
                                Виртуализация ИТ- инфраструктуры
                            </li>
                            <li class="expertise__card-list-item">
                                Управление ИТ – инфраструктурой
                            </li>
                            <li class="expertise__card-list-item">
                                Облачные решения
                            </li>
                            <li class="expertise__card-list-item">
                                Сервера и СХД
                            </li>
                            <li class="expertise__card-list-item">
                                Создание и модернизация ИТ -инфраструктуры
                            </li>
                        </ol>
                        <ul class="expertise__card-numbers-list">
                            <li class="expertise__card-numbers-list-item">
                                <div class="expertise__card-numbers-card">
                                    <div class="expertise__card-numbers-card-amount">
                                        160
                                    </div>
                                    <div class="expertise__card-numbers-card-text">
                                        Описание ключевого показателя
                                    </div>
                                </div>
                            </li>
                            <li class="expertise__card-numbers-list-item">
                                <div class="expertise__card-numbers-card">
                                    <div class="expertise__card-numbers-card-amount">
                                        180%
                                    </div>
                                    <div class="expertise__card-numbers-card-text">
                                        Описание ключевого показателя
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a href="#callback-modal" class="btn expertise__card-link">
                            Оставить заявку
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>