<header class="page-header">
    <div class="page-header__row">
        <div class="page-header__logo-wrapper">
            <a href="#" class="page-header__logo">
                <img src="/images/logo.webp" alt="" class="page-header__logo-image">
            </a>
        </div>
        <div class="page-header__menu">
            <div class="page-header__search">
                <form action="/" method="GET" class="page-header__search-form">
                    <button class="page-header__search-submit" type="submit">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#search"></use>
                        </svg>
                    </button>
                    <input type="search" name="q" class="page-header__search-input" placeholder="Поиск по сайту">
                </form>
            </div>
            <a href="#" class="page-header__products">
                <div class="page-header__products-title">
                    Продукты
                </div>
                <div class="page-header__products-count">
                    / 0048
                </div>
            </a>
            <div class="page-header__nav-part-one">
                <ul class="page-header__nav-list">
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Экспертиза
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Реализованные проекты
                        </a>
                    </li>
                </ul>
            </div>
            <div class="page-header__nav-part-two">
                <ul class="page-header__nav-list">
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            О компании
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Карьера
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Контакты
                        </a>
                    </li>
                </ul>
                <ul class="page-header__contacts-list">
                    <li class="page-header__contacts-list-item">
                        <a href="tel:+78003039070" class="page-header__contacts-link">
                            +7 800 303 90 70
                        </a>
                    </li>
                    <li class="page-header__contacts-list-item">
                        <a href="mailto:info@icl.kazan.ru" class="page-header__contacts-link">info@icl.kazan.ru</a>
                    </li>
                </ul>
            </div>
        </div>
        <button class="page-header__burger" type="button">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#burger"></use>
            </svg>
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#burger-close"></use>
            </svg>
        </button>
    </div>
</header>