<section class="intro">
    <div class="intro__background">
        <video muted="" playsinline="" loop="" autoplay="">
            <source src="/videos/intro.mp4" type="video/mp4" />
            <source src="/videos/intro.webm" type="video/webm" />
            Your browser doesn't support HTML5 video tag.
        </video>
    </div>
    <div class="intro__content">
        <h1 class="h1 intro__heading">
            ICL Системные технологии — стратегический партнер в обеспечении информационной и физической безопасности
        </h1>
        <a href="#callback-modal" class="btn intro__link">
            Оставить заявку
        </a>
        <div class="intro__bottom">
            <h2 class="intro__bottom-heading">
                решения<br> для вашего бизнеса
            </h2>

            <ol class="intro__list">
                <li class="intro__list-item">
                    <a href="#" class="intro__card">
                        <div class="intro__card-top">
                            <div class="intro__card-text-content">
                                <h3 class="h6 intro__card-title">
                                    Информационная безопасность
                                </h3>
                                <div class="intro__card-text">
                                    Опыт и экспертиза компании, проверенная временем!
                                </div>
                            </div>
                            <div class="intro__card-counter">

                            </div>
                        </div>
                        <div class="intro__card-icon-wrapper">

                            <img src="/images/intro/1-hover.svg" alt="" class="intro__card-icon-hover">
                            <img src="/images/intro/1.svg" alt="" class="intro__card-icon">
                        </div>
                    </a>
                </li>
                <li class="intro__list-item">
                    <a href="#" class="intro__card">
                        <div class="intro__card-top">
                            <div class="intro__card-text-content">
                                <h3 class="h6 intro__card-title">
                                    Инженерные системы
                                </h3>
                                <div class="intro__card-text">
                                    Оптимизируем и поддерживаем все виды инженерных систем
                                </div>
                            </div>
                            <div class="intro__card-counter">

                            </div>
                        </div>
                        <div class="intro__card-icon-wrapper">

                            <img src="/images/intro/2-hover.svg" alt="" class="intro__card-icon-hover">
                            <img src="/images/intro/2.svg" alt="" class="intro__card-icon">
                        </div>
                    </a>
                </li>
                <li class="intro__list-item">
                    <a href="#" class="intro__card">
                        <div class="intro__card-top">
                            <div class="intro__card-text-content">
                                <h3 class="h6 intro__card-title">
                                    ИТ-инфраструктура
                                </h3>
                                <div class="intro__card-text">
                                    Сервисные центры и поддержка от ICL Techno
                                </div>
                            </div>
                            <div class="intro__card-counter">

                            </div>
                        </div>
                        <div class="intro__card-icon-wrapper">
                            <img src="/images/intro/3-hover.svg" alt="" class="intro__card-icon-hover">
                            <img src="/images/intro/3.svg" alt="" class="intro__card-icon">
                        </div>
                    </a>
                </li>
            </ol>
        </div>
    </div>
</section>