<section class="mediacenter">
    <div class="mediacenter__content">
        <h2 class="h2 mediacenter__heading">
            Медиацентр
        </h2>
        <div class="mediacenter__top-row">
            <div class="mediacenter__nav">
                <ol class="mediacenter__nav-list">
                    <li class="mediacenter__nav-list-item">
                        <a href="#" class="mediacenter__nav-card active">
                            <h3 class="mediacenter__nav-card-title">
                                Медиацентр
                            </h3>
                        </a>
                    </li>
                    <li class="mediacenter__nav-list-item">
                        <a href="#" class="mediacenter__nav-card">
                            <h3 class="mediacenter__nav-card-title">
                                Все мероприятия
                            </h3>
                        </a>
                    </li>
                    <li class="mediacenter__nav-list-item">
                        <a href="#" class="mediacenter__nav-card">
                            <h3 class="mediacenter__nav-card-title">
                                Телеграм-канал
                            </h3>
                        </a>
                    </li>
                </ol>
            </div>
            <div class="mediacenter__arrows-layers">
                <div class="mediacenter__arrows-layer active">
                    <div class="mediacenter__arrows">
                        <button class="mediacenter__arrow mediacenter__arrow--prev">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#slider-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="mediacenter__arrow mediacenter__arrow--next">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#slider-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="mediacenter__arrows-layer">
                    <div class="mediacenter__arrows">
                        <button class="mediacenter__arrow mediacenter__arrow--prev">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#slider-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="mediacenter__arrow mediacenter__arrow--next">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#slider-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="mediacenter__arrows-layer">
                    <div class="mediacenter__arrows">
                        <button class="mediacenter__arrow mediacenter__arrow--prev">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#slider-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="mediacenter__arrow mediacenter__arrow--next">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#slider-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mediacenter__tabs-items">
            <div class="mediacenter__tabs-item active">
                <div class="mediacenter__slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="mediacenter__slider-card">
                                    <div class="mediacenter__slider-card-image-container">
                                        <img src="/images/mediacenter/1.webp" alt=""
                                            class="mediacenter__slider-card-image">
                                        <div class="mediacenter__slider-card-tags">
                                            <div class="mediacenter__slider-card-tag">
                                                Новости
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="mediacenter__slider-card-title">
                                        ICLservices получила статус золотого партнера ALMI partner
                                    </h3>
                                    <div class="mediacenter__slider-card-date">
                                        12 декабря 2024
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="mediacenter__slider-card">
                                    <div class="mediacenter__slider-card-image-container">
                                        <img src="/images/mediacenter/2.webp" alt=""
                                            class="mediacenter__slider-card-image">
                                        <div class="mediacenter__slider-card-tags">
                                            <div class="mediacenter__slider-card-tag">
                                                Новости
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="mediacenter__slider-card-title">
                                        ICL services усилила позиции в сегменте программно-аппаратных комплексов
                                    </h3>
                                    <div class="mediacenter__slider-card-date">
                                        2 декабря 2024
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="mediacenter__slider-card">
                                    <div class="mediacenter__slider-card-image-container">
                                        <img src="/images/mediacenter/3.webp" alt=""
                                            class="mediacenter__slider-card-image">
                                    </div>
                                    <h3 class="mediacenter__slider-card-title">
                                        Syngenta с нуля мигрировала 1C ERP в облако Cloud.ru
                                    </h3>
                                    <div class="mediacenter__slider-card-date">
                                        21 ноября 2024
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="mediacenter__slider-card">
                                    <div class="mediacenter__slider-card-image-container">
                                        <img src="/images/mediacenter/1.webp" alt=""
                                            class="mediacenter__slider-card-image">
                                    </div>
                                    <h3 class="mediacenter__slider-card-title">
                                        ICLservices получила статус золотого партнера ALMI partner
                                    </h3>
                                    <div class="mediacenter__slider-card-date">
                                        12 декабря 2024
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="mediacenter__slider-card">
                                    <div class="mediacenter__slider-card-image-container">
                                        <img src="/images/mediacenter/2.webp" alt=""
                                            class="mediacenter__slider-card-image">
                                    </div>
                                    <h3 class="mediacenter__slider-card-title">
                                        ICL services усилила позиции в сегменте программно-аппаратных комплексов
                                    </h3>
                                    <div class="mediacenter__slider-card-date">
                                        2 декабря 2024
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mediacenter__tabs-item">
                <div class="mediacenter__slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="mediacenter__slider-card">
                                    <div class="mediacenter__slider-card-image-container">
                                        <img src="/images/mediacenter/1.webp" alt=""
                                            class="mediacenter__slider-card-image">
                                    </div>
                                    <h3 class="mediacenter__slider-card-title">
                                        ICLservices получила статус золотого партнера ALMI partner
                                    </h3>
                                    <div class="mediacenter__slider-card-date">
                                        12 декабря 2024
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="mediacenter__slider-card">
                                    <div class="mediacenter__slider-card-image-container">
                                        <img src="/images/mediacenter/2.webp" alt=""
                                            class="mediacenter__slider-card-image">
                                    </div>
                                    <h3 class="mediacenter__slider-card-title">
                                        ICL services усилила позиции в сегменте программно-аппаратных комплексов
                                    </h3>
                                    <div class="mediacenter__slider-card-date">
                                        2 декабря 2024
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="mediacenter__slider-card">
                                    <div class="mediacenter__slider-card-image-container">
                                        <img src="/images/mediacenter/3.webp" alt=""
                                            class="mediacenter__slider-card-image">
                                    </div>
                                    <h3 class="mediacenter__slider-card-title">
                                        Syngenta с нуля мигрировала 1C ERP в облако Cloud.ru
                                    </h3>
                                    <div class="mediacenter__slider-card-date">
                                        21 ноября 2024
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="mediacenter__slider-card">
                                    <div class="mediacenter__slider-card-image-container">
                                        <img src="/images/mediacenter/1.webp" alt=""
                                            class="mediacenter__slider-card-image">
                                    </div>
                                    <h3 class="mediacenter__slider-card-title">
                                        ICLservices получила статус золотого партнера ALMI partner
                                    </h3>
                                    <div class="mediacenter__slider-card-date">
                                        12 декабря 2024
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="mediacenter__slider-card">
                                    <div class="mediacenter__slider-card-image-container">
                                        <img src="/images/mediacenter/2.webp" alt=""
                                            class="mediacenter__slider-card-image">
                                    </div>
                                    <h3 class="mediacenter__slider-card-title">
                                        ICL services усилила позиции в сегменте программно-аппаратных комплексов
                                    </h3>
                                    <div class="mediacenter__slider-card-date">
                                        2 декабря 2024
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mediacenter__tabs-item">
                <div class="mediacenter__slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="mediacenter__slider-card">
                                    <div class="mediacenter__slider-card-image-container">
                                        <img src="/images/mediacenter/1.webp" alt=""
                                            class="mediacenter__slider-card-image">
                                    </div>
                                    <h3 class="mediacenter__slider-card-title">
                                        ICLservices получила статус золотого партнера ALMI partner
                                    </h3>
                                    <div class="mediacenter__slider-card-date">
                                        12 декабря 2024
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="mediacenter__slider-card">
                                    <div class="mediacenter__slider-card-image-container">
                                        <img src="/images/mediacenter/2.webp" alt=""
                                            class="mediacenter__slider-card-image">
                                    </div>
                                    <h3 class="mediacenter__slider-card-title">
                                        ICL services усилила позиции в сегменте программно-аппаратных комплексов
                                    </h3>
                                    <div class="mediacenter__slider-card-date">
                                        2 декабря 2024
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="mediacenter__slider-card">
                                    <div class="mediacenter__slider-card-image-container">
                                        <img src="/images/mediacenter/3.webp" alt=""
                                            class="mediacenter__slider-card-image">
                                    </div>
                                    <h3 class="mediacenter__slider-card-title">
                                        Syngenta с нуля мигрировала 1C ERP в облако Cloud.ru
                                    </h3>
                                    <div class="mediacenter__slider-card-date">
                                        21 ноября 2024
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="mediacenter__slider-card">
                                    <div class="mediacenter__slider-card-image-container">
                                        <img src="/images/mediacenter/1.webp" alt=""
                                            class="mediacenter__slider-card-image">
                                    </div>
                                    <h3 class="mediacenter__slider-card-title">
                                        ICLservices получила статус золотого партнера ALMI partner
                                    </h3>
                                    <div class="mediacenter__slider-card-date">
                                        12 декабря 2024
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="mediacenter__slider-card">
                                    <div class="mediacenter__slider-card-image-container">
                                        <img src="/images/mediacenter/2.webp" alt=""
                                            class="mediacenter__slider-card-image">
                                    </div>
                                    <h3 class="mediacenter__slider-card-title">
                                        ICL services усилила позиции в сегменте программно-аппаратных комплексов
                                    </h3>
                                    <div class="mediacenter__slider-card-date">
                                        2 декабря 2024
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="show-more mediacenter__show-all">
            все новости
        </a>
    </div>
</section>