<section class="numbers">
    <div class="numbers__content">
        <h2 class="small-heading numbers__heading">
            Цифры о нас
        </h2>
        <ul class="numbers__list">
            <li class="numbers__list-item">
                <div class="numbers__card">
                    <div class="numbers__card-amount">
                        300+
                    </div>
                    <div class="numbers__card-text">
                        кейсов
                    </div>
                </div>
            </li>
            <li class="numbers__list-item">
                <div class="numbers__card">
                    <div class="numbers__card-amount">
                        33 года
                    </div>
                    <div class="numbers__card-text">
                        успешной работы на рынке
                    </div>
                </div>
            </li>
            <li class="numbers__list-item">
                <div class="numbers__card">
                    <div class="numbers__card-amount">
                        2500+
                    </div>
                    <div class="numbers__card-text">
                        штат сотрудников в 2024 году
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>