<section class="products">
    <div class="products__content">
        <div class="products__top-row">
            <h2 class="h2 products__heading">
                Продукты
            </h2>
            <div class="products__arrows">
                <button class="products__arrow products__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="products__arrow products__arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="products__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="products__card">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#diagonal-arrow"></use>
                            </svg>
                            <h3 class="h4 products__card-title">
                                Service Automation Tool
                            </h3>
                            <div class="products__card-desc">
                                Позволяет компаниям максимально быстро получать все необходимые обновления, при этом
                                снижать стоимость обслуживания
                            </div>
                            <img src="/images/products/1.svg" alt="" class="products__card-image">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="products__card">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#diagonal-arrow"></use>
                            </svg>
                            <h3 class="h4 products__card-title">
                                ICL VDI
                            </h3>
                            <div class="products__card-desc">
                                Позволяет оргнизовывать рабочие столы для сотрудников или осуществлять доставку
                                приложений на клиентсткие сервисы
                            </div>
                            <img src="/images/products/2.svg" alt="" class="products__card-image">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="products__card">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#diagonal-arrow"></use>
                            </svg>
                            <h3 class="h4 products__card-title">
                                Колибри-АРМ
                            </h3>
                            <div class="products__card-desc">
                                Вы сможете централизованно управлять конечными устройствами и приложениями в
                                ИТ-инфраструктуре любой сложности
                            </div>
                            <img src="/images/products/3.svg" alt="" class="products__card-image">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="products__card">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#diagonal-arrow"></use>
                            </svg>
                            <h3 class="h4 products__card-title">
                                AutoResolver ART
                            </h3>
                            <div class="products__card-desc">
                                позволяет организациям снизить затраты на операционную поддержку рабочих мест
                                пользователей путем автоматического исполнения
                            </div>
                            <img src="/images/products/4.svg" alt="" class="products__card-image">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="products__card">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#diagonal-arrow"></use>
                            </svg>
                            <h3 class="h4 products__card-title">
                                Service Automation Tool
                            </h3>
                            <div class="products__card-desc">
                                Позволяет компаниям максимально быстро получать все необходимые обновления, при этом
                                снижать стоимость обслуживания
                            </div>
                            <img src="/images/products/1.svg" alt="" class="products__card-image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="show-more products__more">
            Каталог продуктов
        </a>
    </div>
</section>