<section class="video">
    <div class="video__content">
        <div class="video__card">
            <div class="video__card-bg">
                <img src="/images/video.webp" alt="" class="video__card-bg-image">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#play"></use>
                </svg>
            </div>
            <div class="video__card-content">
                <h2 class="small-heading video__heading">
                    Видео
                </h2>
                <div class="video__text">
                    Компания активно ведет работу над развитием решений по импортозамещению и созданием
                    программно-аппаратных комплексов (ПАК) для промышленности, энергетики, финансового сектора, включая
                    критическую информационную инфраструктуру.
                </div>
            </div>
            <a href="https://www.youtube.com/watch?v=JMn_yIVl8eo&ab_channel=PedroTech" class="video__card-link-wrapper"
                data-fancybox="">

            </a>
        </div>
    </div>
</section>