<section class="why-us">
    <div class="why-us__content">
        <div class="why-us__row">
            <h2 class="h2 why-us__heading">
                Почему нас выбирают?
            </h2>
            <div class="why-us__cards">
                <ol class="why-us__cards-list">
                    <li class="why-us__cards-list-item">
                        <div class="why-us__card active">
                            <div class="why-us__card-bg">
                                <img src="/images/why-us.webp" alt="" class="why-us__card-bg-image">
                            </div>
                            <div class="why-us__card-number">

                            </div>
                            <h3 class="h4 why-us__card-title">
                                Технологии
                            </h3>
                            <div class="why-us__card-text">
                                Мы сотрудничаем с известными мировыми производителями, что позволяет им использовать
                                лучшие технологии
                            </div>
                        </div>
                    </li>
                    <li class="why-us__cards-list-item">
                        <div class="why-us__card">
                            <div class="why-us__card-bg">
                                <img src="/images/why-us.webp" alt="" class="why-us__card-bg-image">
                            </div>
                            <div class="why-us__card-number">

                            </div>
                            <h3 class="h4 why-us__card-title">
                                Опыт и экспертиза
                            </h3>
                            <div class="why-us__card-text">
                                Работаем уже много лет и обладаем большим опытом и связями. Мы являемся самой большой
                                сервисной ИТ- компанией в России
                            </div>
                        </div>
                    </li>
                    <li class="why-us__cards-list-item">
                        <div class="why-us__card">
                            <div class="why-us__card-bg">
                                <img src="/images/why-us.webp" alt="" class="why-us__card-bg-image">
                            </div>
                            <div class="why-us__card-number">

                            </div>
                            <h3 class="h4 why-us__card-title">
                                Партнерство с лидерами отрасли
                            </h3>
                            <div class="why-us__card-text">
                                Обмен опытом и ресурсами для оптимизации процессов позволяет не только адаптироваться к
                                быстро меняющимся условиям рынка
                            </div>
                        </div>
                    </li>
                    <li class="why-us__cards-list-item">
                        <div class="why-us__card">
                            <div class="why-us__card-bg">
                                <img src="/images/why-us.webp" alt="" class="why-us__card-bg-image">
                            </div>
                            <div class="why-us__card-number">

                            </div>
                            <h3 class="h4 why-us__card-title">
                                Комплексные решения
                            </h3>
                            <div class="why-us__card-text">
                                Компания может предложить всё: от проектирования до обслуживания, что удобно для клиента
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>