.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.042rem;
  text-transform: uppercase;
  font-family: var(--inter);
  border-radius: 8rem;
  background: var(--primary-color);
  padding: 3.15rem 4.8rem;
  flex-shrink: 0;
  transition: color 0.2s, background-color 0.2s, opacity 0.2s;
  color: white;
  align-self: flex-start;
  &:link,
  &:visited {
    color: white;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--primary-color-hover);
    }
  }

  &:active {
    opacity: 0.4;
  }

  @include breakpoint(mobile) {
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 115%;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    padding: 2.55rem 4.1rem;
  }
}
