.products {
  @include blockWrapper;
  margin-bottom: 14rem;

  @include breakpoint(mobile) {
    margin-bottom: 7rem;
  }
}
.products__content {
  @include blockContent;
  display: flex;
  flex-direction: column;
}

.products__top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 5rem;

  @include breakpoint(mobile) {
    display: block;
    margin-bottom: 4rem;
  }
}

.products__arrows {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 3.2rem;

  @include breakpoint(mobile) {
    display: none;
  }
}

.products__arrow {
  flex-shrink: 0;
  width: 3.2rem;
  height: 3.2rem;
  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--text-color);
    transition: fill 0.2s;
  }

  &.swiper-button-disabled {
    cursor: default;
    svg {
      fill: rgba(#1b1d25, 0.5);
    }
  }

  &:not(.swiper-button-disabled) {
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        svg {
          fill: var(--primary-color);
        }
      }
    }
  }
}

.products__slider {
  .swiper {
    overflow: visible;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    height: auto;
    box-sizing: border-box;
    @include breakpointMF(small-tablet) {
      width: calc(25% - 2rem * 3 / 4);
      margin-right: 2rem;
      &:last-child {
        margin-right: 0;
      }
    }

    @include breakpoint(mobile) {
      width: 27rem;
      margin-right: 1.2rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.products__card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 5rem 4rem;
  border-radius: 0.4rem;
  border: 1px solid #cfcfcf;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  gap: 3rem;
  min-height: 56rem;
  svg {
    flex-shrink: 0;
    width: 1.6rem;
    height: 1.6rem;
    fill: currentColor;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--primary-color);
      border-color: var(--primary-color);
      color: white;

      .products__card-image {
        filter: brightness(500%) grayscale(100%);
      }

      .products__card-desc {
        color: white;
      }
    }
  }

  @include breakpoint(mobile) {
    padding: 2.4rem;
    padding-top: 3.2rem;
    padding-right: 1.6rem;
    min-height: 32rem;
    gap: 2rem;
  }
}

.products__card-desc {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #787c8b;
  font-family: var(--rf-dewi);
  transition: color 0.2s;

  @include breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
}

.products__card-image {
  object-fit: contain;
  width: 12rem;
  height: 8rem;
  flex-shrink: 0;
  margin-left: auto;
  margin-top: auto;
  transition: filter 0.2s;

  @include breakpoint(mobile) {
    width: 7rem;
    height: 4.7rem;
  }
}

.products__more {
  margin-top: 4rem;

  @include breakpoint(mobile) {
    margin-top: 2.4rem;
  }
}
